
.header {
display: flex;
justify-content: space-between;
margin-right: 5rem;
margin-top: 2rem;
}

.header__logo {
  width: 149.39px;
  height: 17.75px;
  margin-right: 70px;
}

.button{
  font-family: Verdana, sans-serif;
  background-color: rgba(82, 34, 208, 1);
  color: aliceblue;
  border-radius: 10px;
}
.button-small{
  font-size: 15px;
}

.button-big{
font-size: 30px;
}
.main{
  display: flex;
  flex-direction: row;
}
.title{
font-family: Verdana,sans-serif;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
} 

.section {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: space-evenly;
}

.title1{
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  text-transform: uppercase;
}

.title3{
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
}



.section2 {
  margin-left: auto;
}
.footer__link{
  margin-left: 70px;
}