.header {
  display: flex;
  justify-content: space-between;

  margin-right: 5rem;
  margin-top: 2rem;
}

.header__logo {
  width: 149.39px;
  height: 17.75px;
  margin-right: 70px;
}

.button {
  font-family: Verdana, sans-serif;
  background-color: rgba(82, 34, 208, 1);
  color: aliceblue;
  border-radius: 10px;
}

.button-small {
  font-size: 15px;

}
.title {
  font-family: Verdana, sans-serif;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.title1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  text-transform: uppercase;
}

.title2 {
 
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  
}

.title3 {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
}
.title2-white{
  color: aliceblue;
}
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.rectangle{

  width: 365px;
  height: 270px;
  background-color: rgba(236, 97, 91, 1);
}
.footer__link {
  margin-left: 70px;
}